<div class="start-screen img-fluid">

   <div class="banter-loader">
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
    </div>

  <img src="assets/img/Logo_CardGame.png" /> 
</div>

<div (click)="newGame()" class="start-label-box">
   <button>
      Start
   </button>
</div>


