html,
body {
  height: 100vh;
  margin: 0;
  top: 0;
    left: 0;
    width: 100vw;
    right: 0;
    bottom: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


@media screen and (max-width: 600px) {
    mat-card-title {
        font-size: 14px !important;
    }
}
